factorydata/pipeline/Pipeline_Carga_FactVentas.json
{
	"name": "Pipeline_Carga_FactVentas",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Procesos",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT [modulo], [fecha_desde_procesada],\n[fecha_hasta_procesada], [fecha_inicio_ejecucion],\n[fecha_fin_ejecucion], [estado]\nFROM [dbo].[DW_Procesos]\nWHERE [modulo] = 'Ventas' AND [estado] = 0",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSql_Procesos",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Proceso",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Procesos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Procesos').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable_ProcesoActual",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "idProceso_Actual",
								"value": "string(@item().id_proceso)"
							}
						},
						{
							"name": "SP_ActualizaEstado_Iniciado",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set variable_ProcesoActual",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "dbale",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"idProceso_Actual": {
				"type": "String",
				"defaultValue": "\"0\""
			}
		},
		"annotations": []
	}
}